:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.middle-content{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.task-row{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 30rem;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.form button{
  padding: .5rem 1rem .5rem 1rem;
}

input{
  padding: .5rem 1rem .5rem 1rem;
  margin-bottom: 5rem;
}

.tasks-column label{
  text-decoration: underline;
}

.tasks-column li {
  margin-top: 1rem;
  padding-bottom: 1rem;
}